<section>
  <h2>Nutrition Log</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Workout</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-url">Meal 1</label>
      <input id="post-url" name="post-url" />
    </div>
    <div>
      <label for="post-url">Meal 2</label>
      <input id="post-url" name="post-url" />
    </div>
    <label for="post-url">Meal 3</label>
    <input id="post-url" name="post-url" />
    </div>
    </div>
    <label for="post-url">Desserts/Snacks</label>
    <input id="post-url" name="post-url" />
    </div>
   <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Daily Log</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
    <button type="submit" class="btn">Create</button>

  </form>
</section>

{{#if posts.length}}
<section>
  <h2>Your Logs</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<canvas id="myChart" width="50" height="50"></canvas>
<script>
  const ctx = document.getElementById('myChart').getContext('2d');
  const myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
      datasets: [{
        label: '# of Calories',
        data: [1600, 2000, 2500, 1800, 2000, 2800, 3750],
        backgroundColor: [
          'rgba(255, 99, 132, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(255, 206, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(255, 159, 64, 0.2)'
        ],
        borderColor: [
          'rgba(255, 99, 132, 1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)',
          'rgba(75, 192, 192, 1)',
          'rgba(153, 102, 255, 1)',
          'rgba(255, 159, 64, 1)'
        ],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>
<label>find calories</label><br>
<input type="text" id="myText"><br>
<button type="button" id="myButton">submit</button> 

<script src="/javascript/add-post.js"></script>
<script type="module" src="/javascript/api.js"></script>